<footer class="footer">
  <svg class="footer__icon-logo">
    <a href="#">
      <use href="images/sprite.svg#footer-logo"></use>
    </a>
  </svg>

  <nav class="footer__menu">
    <ul>
      <a href="*"><li>About</li></a>
      <a href="*"><li>Services</li></a>
      <a href="*"><li>Projects</li></a>
    </ul>
  </nav>

  <div class="footer__social-media">
    <svg class="footer__icon-facebook">
      <a href="#">
        <use href="images/sprite.svg#icon-facebook"></use>
      </a>
    </svg>

    <svg class="footer__icon-instagram">
      <a href="#">
        <use href="images/sprite.svg#icon-instagram"></use>
      </a>
    </svg>

    <svg class="footer__icon-twitter">
      <a href="#">
        <use href="images/sprite.svg#icon-twitter"></use>
      </a>
    </svg>

    <svg class="footer__icon-pinterest">
      <a href="#">
        <use href="images/sprite.svg#icon-pinterest"></use>
      </a>
    </svg>
  </div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Cássia Bernardo</a>.
  </div>
</footer> 