<section class="gallery">
  <picture>
    <source media="(min-width: 900px)" srcset="images/desktop/image-gallery-milkbottles.jpg">
    <img class="gallery-img" src="images/mobile/image-gallery-milkbottles.jpg" alt="Milkbottles image">
  </picture>

  <picture>
    <source media="(min-width: 900px)" srcset="images/desktop/image-gallery-orange.jpg">
    <img class="gallery-img" src="images/mobile/image-gallery-orange.jpg" alt="Orange image">
  </picture>

  <picture>
    <source media="(min-width: 900px)" srcset="images/desktop/image-gallery-cone.jpg">
    <img class="gallery-img" src="images/mobile/image-gallery-cone.jpg" alt="Cone image">
  </picture>

  <picture>
    <source media="(min-width: 900px)" srcset="images/desktop/image-gallery-sugar-cubes.jpg">
    <img class="gallery-img" src="images/mobile/image-gallery-sugar-cubes.jpg" alt="Sugar cubes image">
  </picture>
</section>
