<header class="header">
  <svg class="header__icon-logo">
    <a href="#">
      <use href="images/sprite.svg#logo"></use>
    </a>
  </svg>

  <svg class="header__icon-menu">
    <use href="images/sprite.svg#icon-hamburger"></use>
  </svg>

  <nav class="nav nav--toggle-menu">
    <ul class="nav__menu">
      
      <li class="nav__items"><a href="#">About</a></li>

      <li class="nav__items"><a href="#">Services</a></li>

      <li class="nav__items"><a href="#">Projects</a></li>

      <li class="nav__items nav__btn"><a href="#">Contact</a></li>
      
    </ul>
  </nav>
</header>

<main>
  <section class="hero">
    <div>
      <picture>
        <source media="(min-width: 900px)" srcset="images/desktop/image-header.jpg">
        <img class="gallery-img" src="images/mobile/image-header.jpg" alt="Orange image">
      </picture>
    </div>

    <div class="hero__content">
      <h1 class="hero__title title">WE ARE CREATIVES</h1>
        <svg class="hero__icon-arrow-down">
          <use href="images/sprite.svg#icon-arrow-down"></use>
        </svg>
    </div>
  </section>
