<header class="header">
  <svg class="header__icon-logo">
    <a href="#">
      <use href="images/sprite.svg#logo"></use>
    </a>
    </svg>

  <svg class="header__icon-menu">
    <use href="images/sprite.svg#icon-hamburger"></use>
  </svg>

  <nav class="nav nav--toggle-menu">
    <ul class="nav__menu">
      <a href="#">
        <li class="nav__items">About</li>
      </a>
      
      <a href="#">
        <li class="nav__items">Services</li>
      </a>
      
      <a href="#">
        <li class="nav__items">Projects</li>
      </a>
      
      <a href="#">
        <li class="nav__items nav__btn">Contact</li>
      </a>
    </ul>
  </nav>
</header>
