<section class="testimonials">
  <h2 class="title">CLIENT TESTIMONIALS</h2>

  <div class="testimonial__cards">
    <div class="testimonial__card">
      <img src="images/image-emily.jpg" alt="A customer's photo">
      <p class="testimonial__content card__content">
        We put out trust in Sunnyside and they delivered, making sure our needs
        were met and deadlines were always hit.
      </p>
      <p class="testimonial__author">Emily R.</p>
      <p class="testimonial__position">Marketing Director</p>
    </div>
  
    <div class="testimonial__card">
      <img src="images/image-thomas.jpg" alt="A customer's photo">
      <p class="testimonial__content card__content">
        Sunnyside's enthusiam coupled with their keen interest in our brand's
        success made it a satisfying and enjoyable experience.
      </p>
      <p class="testimonial__author">Thomas S.</p>
      <p class="testimonial__position">Chef Operating Officer</p>
    </div>
  
    <div class="testimonial__card">
      <img src="images/image-jennie.jpg" alt="A customer's photo">
      <p class="testimonial__content card__content">
        Incredible and result! Our sales increased over 400% when we worked with
        Sunnyside. Highly recommended!
      </p>
      <p class="testimonial__author">Jennie F.</p>
      <p class="testimonial__position">Business Owner</p>
    </div>
  </div>
</section>